<form action="/songs/<%= @song.slug %>/edit" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="artist" value="<%=@artist.name%>" >
    
<p>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="song[genre_name][]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input><%=genre.name%>
  <% end %>
  </p>

    <input type="submit" name="submit" value="submit" >
</form>